n8n/workflows/escalation-alert.json
{
  "id": "uxyEeVBb7nBuClR5",
  "name": "VoltimaxChat - Escalation Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voltimax-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "voltimax-alert"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"reason\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Reason?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VOLTIMAX_AI_URL}}/api/analytics/log-escalation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Dashboard-Key",
              "value": "={{$env.VOLTIMAX_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customer_name: $node['Webhook'].json.customer_name, customer_email: $node['Webhook'].json.customer_email, topic: $node['Webhook'].json.topic, reason: $node['Webhook'].json.reason, session_id: $node['Webhook'].json.session_id }) }}"
      },
      "name": "Log Escalation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"alert_sent\"}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Has Reason?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Reason?": {
      "main": [
        [
          {
            "node": "Log Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Escalation": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  }
}
