n8n/workflows/knowledge-ingestion.json
{
  "id": "WVpSBJyifxme6ELb",
  "name": "VoltimaxChat — Knowledge Base Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voltimax-ingestion",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "voltimax-ingestion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VOLTIMAX_AI_URL}}/api/knowledge/sync-cms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Dashboard-Key", "value": "={{$env.VOLTIMAX_API_KEY}}" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "name": "Sync CMS Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VOLTIMAX_AI_URL}}/cache/clear",
        "options": {}
      },
      "name": "Clear Semantic Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"synced\": {{$node['Sync CMS Content'].json.total_chunks || 0}}, \"cache_cleared\": true}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Sync CMS Content", "type": "main", "index": 0 }]] },
    "Sync CMS Content": { "main": [[{ "node": "Clear Semantic Cache", "type": "main", "index": 0 }]] },
    "Clear Semantic Cache": { "main": [[{ "node": "Response", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "voltimax-chat" }]
}
