n8n/workflows/knowledge-ingestion.json
{
  "id": "WVpSBJyifxme6ELb",
  "name": "VoltimaxChat - Knowledge Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voltimax-ingestion",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "voltimax-ingestion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VOLTIMAX_AI_URL}}/api/knowledge/sync-cms",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Dashboard-Key",
              "value": "={{$env.VOLTIMAX_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}"
      },
      "name": "Trigger CMS Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ingestion_triggered\", \"result\": {{JSON.stringify($json)}}}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Trigger CMS Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger CMS Sync": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
