n8n/workflows/weekly-report.json
{
  "id": "ke0cPFcUd99fro1f",
  "name": "VoltimaxChat - Weekly Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "name": "Weekly Cron (Mon 08:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.VOLTIMAX_AI_URL}}/api/analytics/overview?days=7",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Dashboard-Key",
              "value": "={{$env.VOLTIMAX_API_KEY}}"
            }
          ]
        }
      },
      "name": "Get Overview Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.VOLTIMAX_AI_URL}}/api/analytics/costs?days=7",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Dashboard-Key",
              "value": "={{$env.VOLTIMAX_API_KEY}}"
            }
          ]
        }
      },
      "name": "Get Cost Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "jsCode": "const overview = $('Get Overview Metrics').first().json;\nconst costs = $('Get Cost Data').first().json;\n\nconst totalCost = costs.providers\n  ? costs.providers.reduce((sum, p) => sum + (p.estimated_cost || 0), 0).toFixed(2)\n  : '0.00';\n\nreturn [{\n  json: {\n    subject: `VoltimaxChat Weekly Report - Week of ${new Date().toLocaleDateString()}`,\n    body: [\n      `Weekly AI Chat Report`,\n      `=====================`,\n      `Period: Last 7 days`,\n      ``,\n      `OVERVIEW`,\n      `--------`,\n      `Total Chats:        ${overview.total_chats || 0}`,\n      `Active Sessions:    ${overview.active_now || 0}`,\n      `Escalation Rate:    ${overview.escalation_rate || 0}%`,\n      `AI Resolution Rate: ${overview.ai_resolution_rate || 0}%`,\n      `Tickets Created:    ${overview.tickets_created || 0}`,\n      `Token Usage:        ${overview.token_usage || 0}`,\n      ``,\n      `COSTS`,\n      `-----`,\n      `Estimated LLM Cost: $${totalCost}`,\n      ``,\n      `View full analytics: ${process.env.VOLTIMAX_AI_URL || 'http://localhost:8000'}/dashboard/`,\n    ].join('\\n'),\n  }\n}];"
      },
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VOLTIMAX_AI_URL}}/api/admin/reports/weekly",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Dashboard-Key",
              "value": "={{$env.VOLTIMAX_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ subject: $json.subject, body: $json.body }) }}"
      },
      "name": "Store Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Weekly Cron (Mon 08:00)": {
      "main": [
        [
          {
            "node": "Get Overview Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Cost Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Overview Metrics": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cost Data": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Store Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  }
}
