n8n/workflows/zendesk-ticket.json
{
  "id": "T8Ab0hAPN0AT3LoM",
  "name": "VoltimaxChat - Create Zendesk Ticket",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voltimax-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "voltimax-ticket"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.VOLTIMAX_AI_URL}}/api/admin/escalation/log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Dashboard-Key",
              "value": "={{$env.VOLTIMAX_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ subject: $json.subject, description: $json.description, customer_email: $json.customer_email, customer_name: $json.customer_name, metadata: $json.metadata || {} }) }}"
      },
      "name": "Log Ticket to Server B",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ticket_id\": \"n8n-{{ $json.id || Date.now() }}\", \"status\": \"created\"}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Log Ticket to Server B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Ticket to Server B": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  }
}
