n8n/workflows/zendesk-ticket.json
{
  "id": "T8Ab0hAPN0AT3LoM",
  "name": "VoltimaxChat — Zendesk Ticket",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voltimax-ticket",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "voltimax-ticket"
    },
    {
      "parameters": {
        "resource": "ticket",
        "operation": "create",
        "subject": "={{$json.subject || 'Groot Escalation — Support'}}",
        "description": "={{$json.description}}\n\n--- Session Info ---\nSession: {{$json.session_id}}\nTopic: {{$json.topic}}\nCustomer Phase: {{$json.customer_phase}}\nClose Reason: {{$json.close_reason || 'escalated'}}\nModel: {{$json.llm_provider || 'anthropic'}}\nComplexity: {{$json.complexity || 'simple'}}",
        "additionalFields": {
          "requester": {
            "name": "={{$json.customer_name}}",
            "email": "={{$json.customer_email}}"
          },
          "tags": "voltimax-chat,ai-escalation,{{$json.topic || 'general'}},{{$json.ticket_type || 'support'}}",
          "priority": "={{$json.priority || 'normal'}}"
        }
      },
      "name": "Create Zendesk Ticket",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": { "zendeskApi": { "id": "1", "name": "Voltimax Zendesk" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"ticket_id\": \"{{$node['Create Zendesk Ticket'].json.id}}\"}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Create Zendesk Ticket", "type": "main", "index": 0 }]] },
    "Create Zendesk Ticket": { "main": [[{ "node": "Response", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "voltimax-chat" }]
}
